body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 2px;
    padding-right: 2px;
}

.td-center {
    text-align: center;
    vertical-align: middle;
}

.int-input-2 { max-width: 3em; }
.int-input-3 { max-width: 4em; }
.int-input-4 { max-width: 5em; }
.max-length-input { max-width: 5em; }
.int-input-8 { max-width: 9em; }
.datetime-input { max-width: 10em; }
