<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="DataGenTest" connectionString="server=VADIM-PC\SQLEXPRESS;database=DataGen_Test;integrated security=True;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>